*{
	padding:0;
	margin:0;
}
ul,li,ol{
	list-style: none;
}
a{
	text-decoration: none;
}
.header{
	height:173px;
	background-color: #eeeeef;
}
.logo{
	padding-top: 30px;
	text-align: center;
	height:95px;
}
.nav{
	width:670px;
	height:45px;
	background-color: #fff;
	margin:0 auto;
	border-radius: 23px;
	font-size: 14px;
	font-family:'微软雅黑';
}
.nav li{
	float:left;
	height:45px;
	padding:0 30px;
	line-height: 45px;
	background: url(../images/2.png) no-repeat right center;
}
.nav li a{
	display:block;
	height:42px;
	border-bottom: 3px solid #1e50ae;
}
.nav li:last-child{
	background: none;
}
.banner{
	width:100%;
	height:407px;
	background: url(../images/3.png) no-repeat center center;
}
.circle{
	width:1200px;
	height: 810px;
	background-color: #fff;
	margin:0 auto;
	text-align: center;
}
.circle h1{
	padding-top: 63px;
}
.circle .title{
	padding-top: 25px;
}
.circle .serve img{
	margin:0 auto;
}
.solve{
	height:770px;
	background: url(../images/4.png) no-repeat center center;
	text-align: center;
}
.solve h1{
	padding-top:65px;
	margin-bottom: 20px; 
}
.box{
	width: 1200px;
	height: 380px;
	margin: 0 auto;
	padding-top: 72px;
}
.box li{
	width: 300px;
	float: left;
	text-align: center;
}
.box button{
	width:230px;
	height:50px;
	background: none;
	border:1px solid #fff;
	border-radius:25px;
	margin-top: 80px;
}
.laster{
	width: 1200px;
	height: 910px;
	margin:0 auto;
}
.a{
	width:100%;
	height:555px;
	background-color: #fff;	
}
.a h1{
	padding-top: 60px;
	text-align: center;
}
.a p{
	padding-top: 20px;
	font-family: '微软雅黑';
	font-size: 14px;
	color:#797979;
}
.a .p1{
	text-align: center;
}
.b img{
	float: left;
	padding-right: 100px;
}
.b{
	padding-top: 45px;
	margin: 0 auto;
}
.b button{
	width:140px;
	height:41px;
	background: none;
	border:1px solid #1141a3;
	border-radius:20px;
	margin-top: 34px;
	color:#1141a3;
}
.b h3{
	margin-bottom: 18px;
}
.first{
	margin-bottom: 35px;
}
.d{
	width:500px;
	height: 260px;
	margin-top: 90px;
	margin-right: 50px;
	float: left;
}
.d ul{
	width: 500px;
	height: 260px;
	float: left;
}
.e{
	width:600px;
	height: 260px;
	margin-top: 90px;
	float: left;
}
.e ul{
	width:600px;
	height: 260px;
	margin-top: 90px;
	float: right;
}
.laster2{
	width:100%;
	height: 100px;	
	background-color: #f5f5f5;
	margin-top: 120px;
}
.third{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}
.third li{
	float: left;
	height: 42px;
	padding:0px 40px 29px 33px;
}
.third img{
	float: left;
	padding-right: 12px;
}
.third p{
	display: inline-block;	
}
.lastest{
	width:100%;
	height:260px;	
	background-color: #323232;
}
.i{
	width:1200px;
	height: 386px;
	margin:0 auto;
	float: left;
}
.i ul{	
	margin-top: 60px;
	float: left;
	margin-left: 40px;
}
.i img{
	margin-top:60px; 
	margin-left: 100px;
	display:inline-block;
}
.ldq{
	height: 360px;
	width: 1200px;
}
.ldq ul{
	height: 500px;
	width: 600px;
	float: left;
	font-family: '微软雅黑';
	font-size: 14px;
	color:#797979;
}
.ldq ul li{
	margin-bottom: 35px;
}
.list{
	background-color: #323232;
	width:1200px;
	height:125px;
	margin: 0 auto;
}
.nav0{	
	font-size: 14px;
	font-family:'微软雅黑';
}
.nav0 li{
	float:left;
	height:45px;
	padding:0 30px;
	line-height: 45px;
}
.nav0 li a{
	display:block;
	height:42px;
	border-bottom:none;
}